@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-100 text-gray-800 transition-colors duration-500;
}

.dark body {
  @apply bg-gray-950 text-white; /* ✅ yazılar artık açık renk */
}

/* Navbar için destek */
nav {
  @apply transition-colors duration-500;
}

.dark nav {
  @apply bg-gray-900 text-white;
}

/* Link'ler için genel renk */
a {
  @apply text-gray-800 dark:text-gray-100 hover:text-blue-600 dark:hover:text-yellow-400;
}
