@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}
.card {
  @apply bg-white text-slate-800
    border border-slate-200
    rounded-xl
    shadow
    transition-colors;
}

.dark .card {
  @apply bg-[#1E293B]
    text-white
    border-gray-700;
}
