@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-100 text-gray-800 transition-colors duration-500;
}

.dark body {
  @apply bg-gray-950 text-white; /* ✅ yazılar artık açık renk */
}

/* Navbar için destek */
nav {
  @apply transition-colors duration-500;
}

.dark nav {
  @apply bg-gray-900 text-white;
}

/* Link'ler için genel renk */
a {
  @apply text-gray-100 hover:text-blue-600 dark:hover:text-yellow-400;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 6px;
}
.field-grid {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 20%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 20%
    ),
    #1f7a1f;
  background-size: cover;
}
.input-auth {
  @apply w-full px-3 py-2 rounded-lg bg-[#0F172A] border border-gray-700 focus:border-orange-500 outline-none;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}
